#showcase {
  min-height: 450px;
  // display: flex;
  // flex-direction: column;
  // justify-content: center;

  .bg-image {
    position: absolute;
    z-index: -1;
    background: url("/image/pexels-photo.png") no-repeat center;
    background-size: cover;
    // min-height: 450px;
    height: 100%;
    width: 100%;
    opacity: 0.4;
  }
}

.btn {
  display: inline-block;
  background: $clr-gray;
  border: 1px solid $clr-white;
  color: $clr-white;
  padding: 1rem 2rem;
  border-radius: 5px;
  margin: 0.5rem 0;

  transition: all ease-in 0.1s;

  &:hover {
    background: $clr-white;
    color: $clr-gray;
  }
}
